In [1]:
my_set = {1,2,3,4,5,6}
type(my_set)

set

In [2]:
#methods used 
#add()

myset = set()
myset.add(1)
myset.add(2)
myset.add(3)
myset.add(4)
myset.add(3)
myset.add(1)
myset.add(5)
myset

{1, 2, 3, 4, 5}

In [3]:
my_tuple = (1,2,3,4,5,1,2,3,4,5)

result = set(my_tuple)

result # print(result)

{1, 2, 3, 4, 5}

In [4]:
my_list = [1,2,3,4,5,1,2,3,4,5]

result1 = set(my_list)

print(result1)

{1, 2, 3, 4, 5}

In [5]:
#intersection

set_A = {4,6,10,21,14,5,2,11}
set_B = {1,8,7,13,12,3,5,2,11}

result = set.intersection(set_A,set_B)# common items in both sets

print(result)

{2, 11, 5}

In [7]:
set_A = {4,6,10,21,14,5,2,11}
set_B = {1,8,7,13,12,3,5,2,11}
set_C = {2,5,6,10,13,18,19,20}

result2 = set.intersection(set_A,set_B,set_C)

print(result2)

{2, 5}

In [12]:
# difference()method 
set_A = {2,4,5,6,10,11,14,21}
set_B = {1,2,3,5,8,7,11,12,13}
set_C = {2,5,6,10,13,18,19,20}

result3 = set_A.difference(set_B)# unique items that appear in one set 
#and are not in the other

print(result3)

{4, 6, 10, 14, 21}

In [13]:
#Union ()
set_A = {2,4,5,6,10,11,14,21}
set_B = {1,2,3,5,8,7,11,12,13}
set_C = {2,5,6,10,13,18,19,20}

result4 = set.union(set_A,set_B,set_C)

print(result4)

{1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 18, 19, 20, 21}

In [14]:
#Boolean

#is 1 equal to 1

1 == 1

True

In [15]:
1 > 1

False

In [16]:
1 < 1

False